@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import './tooltip-overried.scss';
@import './home.scss';
@import './login.scss';
@import './register.scss';
body {
  background-color: #fafafa;
  color: #4d4d4d;
}
html {
  font-family: 'Open Sans';
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  padding-top: 70px;
}
