@import './colors.scss';
@import './header.scss';
@import './mobile-menu.scss';
@import './footer.scss';
@import './tooltip-overried.scss';
@import './home.scss';
@import './login.scss';
@import './register.scss';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import 'bootstrap';
body {
  background-color: #fafafa;
  color: #4d4d4d;
}
html {
  font-family: 'Open Sans';
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  padding-top: 70px;
}
.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.modal-90w {
  width: 90%;
}
