.header__top {
  background-color: $black;
  padding: 0 100px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__top__left {
    & ul {
      display: flex;
      margin: 0;
      padding: 0;
      color: white;

      & li {
        list-style: none;
        padding: 0 15px;
        cursor: pointer;

        &:hover {
          color: $gray;
        }

        &:first-child {
          padding-left: 0;
        }

        & img {
          width: 15px;
          height: 15px;
          margin: 0 5px 4px 0;
        }
      }
    }
  }

  .header__top__right {
    display: flex;
    color: white;
    align-items: center;

    ul {
      display: flex;
      padding: 0;
      margin: 0 15px 0 0;

      & li {
        padding: 0 5px;
        list-style: none;

        & a svg {
          color: $gray;

          &:hover {
            color: $green;
          }
        }
      }
    }

    .language_box {
      background-color: $green;
      height: 30px;
      padding: 0 8px;
      display: flex;
      font-size: 13px;
      align-items: center;
      position: relative;

      &:hover .language_option {
        display: block;
      }

      & img {
        width: 13px;
        height: 13px;
        margin-left: 5px;
      }
      .language_option {
        position: absolute;
        left: 0;
        background-color: $lightblue;
        top: 30px;
        width: 100%;
        display: none;
        z-index: 3;

        & ul {
          margin: 0;
          display: block;

          & li {
            width: 100%;
            padding: 8px;
            text-align: left;
            text-transform: uppercase;

            &:first-child {
              padding-bottom: 0;
            }

            & a {
              text-decoration: none;
              color: $black;

              &:hover {
                color: $green;
              }
            }
          }
        }
      }
    }
  }
}

.header__menu {
  margin-top: 4px;
  padding: 6px 100px 10px;
  box-shadow: 0 0 0 4px white, 0 2px 6px rgb(26, 25, 25);

  .logo {
    max-width: 150px;
    padding-top: 5px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .header__menu__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;

      & li {
        list-style-type: none;
        padding: 10px 20px 0px 20px;
        border-right: 1px solid transparent;
        border-image-slice: 1%;
        position: relative;
        font-size: 14px;

        &:hover .menu_option {
          display: block;
        }

        .menu_option {
          background-color: $lightblue;
          position: absolute;
          top: 35px;
          left: 0;
          width: 150px;
          border-radius: 5px;
          display: none;
          z-index: 999;

          &:before {
            content: '';
            background-color: $lightblue;
            width: 15px;
            height: 14px;
            position: absolute;
            top: -7px;
            left: 40%;
            transform: rotate(45deg);
          }
          ul {
            display: block;
          }

          & li {
            text-align: center;
            list-style: none;
            padding: 8px;
            font-size: 14px;
            border: 0;

            & a:hover {
              color: $gray !important;
              cursor: pointer;
            }
          }
        }

        &:nth-child(2) {
          padding: 10px 15px 0 15px;
        }

        &:last-child {
          border: 0;
          padding: 10px 0px 0 25px;
        }

        & a {
          text-align: center;
          color: $black;
          text-decoration: none;
          font-weight: 600;

          &:hover {
            color: $green;
          }
        }
        & i {
          margin-left: 5px;
          color: $gray;
        }
        & img {
          display: block;
          margin: auto;
          margin-bottom: 8px;
          width: 25px;
        }
      }
    }
  }
}
