.tooltip-override {
  background-color: transparent !important;
  opacity: 1 !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0px !important;
  min-height: 0 !important;
  color: currentColor !important;
  font-size: 16px !important;
  z-index: 15;
}

.rc-tooltip-inner {
  @extend .tooltip-override;
}
.rc-tooltip-arrow {
  display: none !important;
}
.rc-tooltip.content {
  @extend .tooltip-override;
}
.rc-tooltip {
  @extend .tooltip-override;
}
